#menu_txt {
	color: whitesmoke;
	background-color: #00cc99;
	text-align: center;
	padding: 80px;
	margin: 0px;
	}

h2 {
	color: black;
	}

nav {
	background-color: #333;
	overflow: hidden; /*chừa ra sẽ không hiện*/
}

nav a {
	color: whitesmoke;
	background-color: #333;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	background-color: #DDD;
	color: black;
}

nav a.menu_left {
	float: left;
}

nav a.menu_right {
	float: right;
}

#left_side {
	flex: 30%;
	background-color: #ccffff;
	padding: 10px 20px;
}

#right_side {
	flex: 70%;
	background-color: white;
	padding: 10px 20px;
}

#flex_container {
	display: flex;
	flex-wrap: nowrap;
}

#foot {
	color: whitesmoke;
	padding: 40px;
	background-color: #333;
	text-align: center;
}

footer > a {
	color: white;
}

table {
	border-style: solid;
}

table {
	border-collapse: collapse;
	width: 50%;
}

table td, table th {
	 border: 1px solid #ddd;
	 padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
}

ul {
	list-style-type: circle;
}

.enjoy_item {
	/*width: 50%;
	float: left;*/
	text-align: center;
	flex: 50%;
}

.enjoy_img {
	width: 90%;
}

#enjoy_container {
	display: flex;
	flex-wrap: wrap;
}

.enjoy_title {
	font-size: 150%;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}

.enjoy_desc {
	padding: 0px 10px 20px 10px;
}

@media(max-width: 800px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
	flex-wrap: wrap;
	}

	.enjoy_item {
		flex: 100%;
	}
	.menu_left {
		flex: 25%;
	}
}
